In [41]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
df.shape

(303, 14)

In [5]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [20]:
X = df.drop(columns='target',axis=1)
Y = df['target']
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [21]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state=3)

In [32]:
print(X_train.shape)

(242, 13)

In [38]:
# Compare the perfomance of the models

# List of the models
models = [LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

def compare_models():
    for model in models:
        model.fit(X_train,Y_train)
        test_data = model.predict(X_test)
        accuracy = accuracy_score(Y_test,test_data)
        print('accuracy score for',model,'is',accuracy)

In [39]:
compare_models()

accuracy score for LogisticRegression(max_iter=1000) is 0.7868852459016393
accuracy score for SVC(kernel='linear') is 0.7704918032786885
accuracy score for KNeighborsClassifier() is 0.6557377049180327
accuracy score for RandomForestClassifier() is 0.7704918032786885

In [46]:
# CrossValidation

# LogistRegression
cv_score_lr = cross_val_score(LogisticRegression(max_iter=1000),X,Y,cv=5)
print(CvScoreLr)
mean_accuracy = (sum(cv_score_lr)/len(cv_score_lr))*100
mean_accuracy = round(mean_accuracy,2)
print(mean_accuracy)

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
82.83

In [50]:
# SVM
cv_score_svc = cross_val_score(SVC(kernel='linear'),X,Y,cv=5)
print(cv_score_svc)
mean_accuracy = (sum(cv_score_svc)/len(cv_score_svc))*100
mean_accuracy = round(mean_accuracy,2)
print(mean_accuracy)

[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
82.83

In [53]:
# KNeighborsClassifier
cv_score_Kn = cross_val_score(KNeighborsClassifier(),X,Y,cv=5)
print(cv_score_Kn)
mean_accuracy = (sum(cv_score_Kn)/len(cv_score_Kn))*100
mean_accuracy = round(mean_accuracy,2)
print(mean_accuracy)

[0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
64.39

In [57]:
def compare_models_crossValidation():
    for model in models:
        cv_score = cross_val_score(model,X,Y,cv=5)
        mean_accuracy = (sum(cv_score)/len(cv_score))*100
        mean_accuracy = round(mean_accuracy,2)
        print('Mean Accuracy of',model,'is',mean_accuracy)

In [58]:
compare_models_crossValidation()

Mean Accuracy of LogisticRegression(max_iter=1000) is 82.83
Mean Accuracy of SVC(kernel='linear') is 82.83
Mean Accuracy of KNeighborsClassifier() is 64.39
Mean Accuracy of RandomForestClassifier() is 81.16