In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score,recall_score,f1_score

In [3]:
Df = pd.read_csv('heart.csv')
Df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [7]:
X = Df.drop(columns='target',axis=1)
Y = Df['target']
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [8]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [9]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [16]:
model = LogisticRegression(max_iter=1000)
model.fit(X_train,Y_train)
X_predict = model.predict(X_train)
X_prediction = model.predict(X_test)

In [17]:
def precision_recall_f1(Y_true,Y_predict):
    precision = precision_score(Y_true,Y_predict)
    recall = recall_score(Y_true,Y_predict)
    f1 = f1_score(Y_true,Y_predict)
    print('Precision :',precision)
    print('................................................')
    print('Recall :',recall)
    print('................................................')
    print('F1 :',f1)
    print('................................................')

In [20]:
# Getting scores for training data
precision_recall_f1(Y_train,X_predict)

Precision : 0.8299319727891157
................................................
Recall : 0.9242424242424242
................................................
F1 : 0.8745519713261649
................................................

In [21]:
# Getting scores for testing data
precision_recall_f1(Y_test,X_prediction)

Precision : 0.8181818181818182
................................................
Recall : 0.8181818181818182
................................................
F1 : 0.8181818181818182
................................................